In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
df = pd.read_csv("GlobalLandTemperaturesByMajorCity.csv")
df.head(100)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
95,1856-12-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
96,1857-01-01,26.549,1.749,Abidjan,Côte D'Ivoire,5.63N,3.23W
97,1857-02-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
98,1857-03-01,27.299,1.263,Abidjan,Côte D'Ivoire,5.63N,3.23W
99,1857-04-01,26.069,1.206,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [3]:
df.shape

(239177, 7)

In [4]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

In [5]:
#List of state names
city_names = df.City.unique()
city_names

array(['Abidjan', 'Addis Abeba', 'Ahmadabad', 'Aleppo', 'Alexandria',
       'Ankara', 'Baghdad', 'Bangalore', 'Bangkok', 'Belo Horizonte',
       'Berlin', 'Bogotá', 'Bombay', 'Brasília', 'Cairo', 'Calcutta',
       'Cali', 'Cape Town', 'Casablanca', 'Changchun', 'Chengdu',
       'Chicago', 'Chongqing', 'Dakar', 'Dalian', 'Dar Es Salaam',
       'Delhi', 'Dhaka', 'Durban', 'Faisalabad', 'Fortaleza', 'Gizeh',
       'Guangzhou', 'Harare', 'Harbin', 'Ho Chi Minh City', 'Hyderabad',
       'Ibadan', 'Istanbul', 'Izmir', 'Jaipur', 'Jakarta', 'Jiddah',
       'Jinan', 'Kabul', 'Kano', 'Kanpur', 'Karachi', 'Kiev', 'Kinshasa',
       'Lagos', 'Lahore', 'Lakhnau', 'Lima', 'London', 'Los Angeles',
       'Luanda', 'Madras', 'Madrid', 'Manila', 'Mashhad', 'Melbourne',
       'Mexico', 'Mogadishu', 'Montreal', 'Moscow', 'Nagoya', 'Nagpur',
       'Nairobi', 'Nanjing', 'New Delhi', 'New York', 'Paris', 'Peking',
       'Pune', 'Rangoon', 'Rio De Janeiro', 'Riyadh', 'Rome', 'São Paulo',
       'Saint Petersburg', 'Salvador', 'Santiago', 'Santo Domingo',
       'Seoul', 'Shanghai', 'Shenyang', 'Singapore', 'Surabaya', 'Surat',
       'Sydney', 'Taipei', 'Taiyuan', 'Tangshan', 'Tianjin', 'Tokyo',
       'Toronto', 'Umm Durman', 'Wuhan', 'Xian'], dtype=object)

In [6]:
# list of country names
country_names = df.Country.unique()
country_names

array(["Côte D'Ivoire", 'Ethiopia', 'India', 'Syria', 'Egypt', 'Turkey',
       'Iraq', 'Thailand', 'Brazil', 'Germany', 'Colombia',
       'South Africa', 'Morocco', 'China', 'United States', 'Senegal',
       'Tanzania', 'Bangladesh', 'Pakistan', 'Zimbabwe', 'Vietnam',
       'Nigeria', 'Indonesia', 'Saudi Arabia', 'Afghanistan', 'Ukraine',
       'Congo (Democratic Republic Of The)', 'Peru', 'United Kingdom',
       'Angola', 'Spain', 'Philippines', 'Iran', 'Australia', 'Mexico',
       'Somalia', 'Canada', 'Russia', 'Japan', 'Kenya', 'France', 'Burma',
       'Italy', 'Chile', 'Dominican Republic', 'South Korea', 'Singapore',
       'Taiwan', 'Sudan'], dtype=object)

In [7]:
df.AverageTemperature.isna().value_counts()

False    228175
True      11002
Name: AverageTemperature, dtype: int64

In [8]:
#Percentage of null values
364130/8235082

0.04421692461592975

Change dt column to a date time object

In [9]:
df_clean.dt = pd.to_datetime(df_clean.dt)

NameError: name 'df_clean' is not defined

In [ ]:
df_clean.dtypes

In [ ]:
df2 = df_clean[df_clean["dt"] >= "1921"]

# Removing null cells from Average Temperature

In [ ]:
df2.AverageTemperature.isna().value_counts()

In [ ]:
3070/3903560

In [ ]:
df2.AverageTemperature = df2.AverageTemperature.fillna(method='bfill')

In [ ]:
df2.AverageTemperature.isna().value_counts()

In [ ]:
df2.AverageTemperature = df2.AverageTemperature.fillna(method='ffill')

In [ ]:
df2.AverageTemperature.isna().value_counts()

# Convert Average Temperature celsius to fahrenheit

In [ ]:
df2

In [ ]:
df2.AverageTemperature = df2["AverageTemperature"] *(9/5) + 32

In [ ]:
df2 = df2.rename(columns={'AverageTemperature': 'AverageTemperature(F)'})
df2

In [ ]:
df2.to_csv('CleanedGlobalLandTemperaturesByCity.csv')